@model WebMap.Models.ModuleModels
@{
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<div>
    <h4>ModuleModels</h4>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

   
</div>

