@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";


}


    <div class="content-panel pn">
        <div id="profile-01">
            <h3>Sharon Holmes</h3>
            <h6>WEB DESIGNER</h6>
        </div>
     <div></div>
        <div class="centered">
            <h4><i class="fa fa-envelope"></i><br />Arctic@esprit.tn</h4>
        </div>
    </div>
    <!-- /content-panel -->
</div>