@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "categparprojet";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";

    }
}

<h2>categparprojet</h2>

<!DOCTYPE HTML>
<html>
<head><script> function printc() {
     cchart = $("#pie").ejChart("instance");
     cchart.CreateDocument();
    }</script>
    @{Html.BeginForm("CreateDocument", "Stat", FormMethod.Get);
        {
      <div>
          <button type="submit" class="activity-panel" id="c" onclick="CreateDocument(cchart)"></button>

          <input type="submit" value="Create Document" style="width:150px;height:27px" />
      </div>
        }
        Html.EndForm();
    }
   
      
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("pie", {
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Indian Smartphone Market Share"
	},
	subtitles: [{
		text: "Q2, 2016"
	}],
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <div class="col-lg-6">
        <div class="content-panel" >
            <h4><i class="fa fa-angle-right"></i> Pie</h4>
            <div class="panel-body text-center">
                <div id="pie" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>

    
        <div class="col-lg-6">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Chart Example 3</h4>
                <div class="panel-body">
                    <div id="hero-area" class="graph" style="height: 370px; width: 100%;"></div>
                </div>
            </div>
        </div>
    
    <div id="chartContainer" style="height: 300px; width: 400px;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html> 




