@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "categparprojet";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";

    }
}

<h2>categparprojet</h2>

<!DOCTYPE HTML>
<html>
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>

    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("pie", {
                theme: "light1", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: false,
                title: {
                    text: "Indian Smartphone Market Share"
                },
                subtitles: [{
                    text: "Q2, 2016"
                }],
                data: [{
                    type: "pie",
                    startAngle: 180,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabel: "{label} - {y}%",
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
            });
            chart.render();

            var canvas = $("#pie .canvasjs-chart-canvas").get(0);
            var dataURL = canvas.toDataURL();
            var jsonData = @Html.Raw(ViewBag.DataPoints);

            var cat = [];
            var pourc = [];
            var datap = [];
            jsonData.forEach(item => cat.push(item.label));
            jsonData.forEach(item => pourc.push(item.y));

            for (var i = 0; i < cat.length; i++) {
                var data = [];
                data.push(cat[i]);
                data.push(pourc[i]+"%");
                datap.push(data);
            }
    $("#btn_report").click(function () {
        var pdf = new jsPDF();
        pdf.addImage(dataURL, 'JPEG', -30, 20);
        pdf.autoTable({
            margin: { top: 100 },
            head: [['Categories', 'Pourcentages']],
            body: datap
        });
        pdf.save("download.pdf");
    });
}
    </script>
</head>
<body>
            <div style="width:135%">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Pie</h4>
                    <div class="panel-body text-center">
                        <div id="pie" name="image" style="height: 370px; width: 100%;"></div>
                    </div>
                    <input id="btn_report" type="submit" value="report" style="width:150px;height:27px" />
                </div>
            </div>
       
    }
   
       

   

  
    

   

   
</body>
</html> 




