@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "durationtask";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>durationtask</h2>

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("hero-graph", {
                animationEnabled: true,
                title: {
                    text: ""
                },
                axisX: {

                },
                axisY: {
                    title: "Real duration task",
                    includeZero: false
                },
                data: [{
                    type: "line",
                    dataPoints: @Html.Raw(ViewBag.DataPoints1)
	}]
            });

            chart.render();
        }
        function printc() {
            cchart = $("#hero-graph").ejChart("instance");
            cchart.print("hero-graph");
        }
       
    </script>
   
  
       
    
    <script>
       

    </script>
</head>
<body>
    <a href="@Url.Action("ExportPDF","Stat")">EXPORT PDF</a>
    
           
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Chart Example 1</h4>
                            <div class="panel-body">
                                <div id="hero-graph" class="graph" style="height: 370px; width: 100%;">

                                </div>

                                <button type="button" class="activity-panel" id="c" onclick="print()"></button>

                            </div>
                        </div>
                    </div></div>
                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>  