@model WebMap.Models.DataPoint
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("hero-bar", {
        animationEnabled: true,
        exportEnabled: true,
        
        
	title: {
		text: "Seconde Chart"
	},
	subtitles: [{
		text: ""
	}],
	axisY: {
		title: "Number Of Stats",
		gridThickness: 0
	},
	data: [{
		type: "column",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
    });
   
chart.render();
  
        }
        
        function printc() {
            cchart = $("#hero-bar").ejChart("instance");
            cchart.print("hero-bar");
        }
    </script>
</head>
<body>
    <div class="col-lg-6">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
            <div class="panel-body">
                <div class="panel-body">
                    <div id="hero-bar" class="graph" style="height: 370px; width: 100%;"></div>
                </div>
                <button type="button" class="activity-panel" id="c" onclick="print()"></button>

            </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>    