@model WebMap.Models.DataPoint
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("hero-bar", {
        animationEnabled: false,
        exportEnabled: true,
        
        
	title: {
		text: "Seconde Chart"
	},
	subtitles: [{
		text: ""
	}],
	axisY: {
		title: "Number Of Stats",
		gridThickness: 0
	},
	data: [{
		type: "column",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
    });
  
     
    chart.render();
    var canvas = $("#hero-bar .canvasjs-chart-canvas").get(0);
            var dataURL = canvas.toDataURL();
            var jsonData = @Html.Raw(ViewBag.DataPoints);
            var cat = [];
            var pourc = [];
            var datap = [];
            jsonData.forEach(item => cat.push(item.label));
            jsonData.forEach(item => pourc.push(item.y));

    for (var i = 0; i < cat.length; i++) {
        var data = [];
        data.push(cat[i]);
        data.push(pourc[i]);
        datap.push(data);
    }
                $("#btn_report").click(function () {
                    var pdf = new jsPDF();

                    pdf.addImage(dataURL, 'JPEG', 0, 20);
                    pdf.autoTable({
                        margin: { top: 100 },
                        head: [['Etat', 'Nombre d etat']],
                        body: datap
                    });
                    pdf.save("download3.pdf");
                });
            
  
        }
        
       
    </script>
</head>
<body>
    <div style="width:135%">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
            <div class="panel-body">
                <div class="panel-body">
                    <div id="hero-bar" class="graph" style="height: 370px; width: 100%;"></div>
                </div>                    <input id="btn_report" type="submit" value="report" style="width:150px;height:27px" />

              

            </div>
        </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>
</body>
</html>    