@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "usercountperyear";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>User Count Per Year</h2>

<!DOCTYPE HTML>
<html>
<head>
   
   
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("hero-graph", {
        animationEnabled: false,
        exportEnabled: true,
	title: {
		text: "Count User Per Year"
	},
	axisX: {

	},
	axisY: {
		title: "numbre of user per month ",
		includeZero: false
        },
    
	data: [{
		type: "line",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
    chart.render();
    var canvas = $("#hero-graph .canvasjs-chart-canvas").get(0);
            var dataURL = canvas.toDataURL();
            var jsonData = @Html.Raw(ViewBag.DataPoints);
            var cat = [];
            var pourc = [];
            var datap = [];
            jsonData.forEach(item => cat.push(item.label));
            jsonData.forEach(item => pourc.push(item.y));

    for (var i = 0; i < cat.length; i++) {
        var data = [];
        data.push(cat[i]);
        data.push(pourc[i]);
        datap.push(data);
    }
                $("#btn_report1").click(function () {
                    var pdf = new jsPDF();
                    //    pdf.title = "Calculer nombre d utilisateur ar mois";
                    pdf.text(50, 10, "Calcule nombre d utilisateur par mois");
                    
                    pdf.addImage(dataURL, 'JPEG', 10, 10, 200, 70);
                    pdf.autoTable({
                        margin: { top: 110 },

                        head: [['mois', 'Nombre d utilisateur']],
                        body: datap
                    });
                    pdf.save("download4.pdf");
                });
            

        }
      
    </script>
</head>
<body>


    <div class="row mt">
        <div style="width:99%;margin-top: 5px;
    margin-left: 10px; box-shadow: 6px 6px 6px black;">
            <div class="content-panel">

                <div class="panel-body"  style="height:400px">
                    <div id="hero-graph" class="graph"></div>
                </div>  <button id="btn_report1" type="button" class="btn btn-primary btn-lg btn-block" style="width:100%; margin-top:90px">report</button>




            </div>
        </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>
  

</body>
</html>  