@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "durationtask";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>

    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("chart-1", {
        animationEnabled: true,
        exportEnabled: true,
	title: {
		text: "Seconde Chart"
        },

	subtitles: [{
		text: ""
        }],
        theme: "light",
        primaryHeader: {
            text: "Internet usage statistics"
        },
        exportOptions: {
            image: false,
            print: false
        },
       
    axisY: {
            title: "Values"
        },

        data: [{
            type: "column",
            name: "ToDo",
            showInLegend:true,
		dataPoints: @Html.Raw(ViewBag.ToDoDPS)
    },
            {
                type: "column",
                name: "Doing",
                showInLegend:true,
        dataPoints: @Html.Raw(ViewBag.DoingDPS)
    },
            {
                type: "column",
                name: "Done",
                showInLegend:true,
		dataPoints: @Html.Raw(ViewBag.DoneDPS)
    }
    ]
});
    chart.render();

        }
        function printc() {
            cchart = $("#chart-1").ejChart("instance");
            cchart.print("chart-1");
        }
    </script>
</head>
<body>

    <div id="chart2" height="100" width="100"></div>
    <div class="tab-pane" id="chartjs">
        <div class="row mt">
            <div class="col-lg-6">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Bar</h4>
                    <div class="panel-body text-center">
                        <canvas id="bar" height="300" width="400"></canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt">
        <div class="col-lg-12">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Tracking Chart</h4>
                <div class="panel-body">
                    <div id="chart-1" class="chart" style="height: 370px; width: 100%;"></div>
                </div>
                <button type="button" class="activity-panel" id="c" onclick="print()"></button>

            </div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

</body>
</html>    