@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "usercountperyear";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>usercountperyear</h2>

<!DOCTYPE HTML>
<html>
<head>
    @ViewBag.users
   
    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        exportEnabled: true,
	title: {
		text: ""
	},
	axisX: {

	},
	axisY: {
		title: "numbre of user per month ",
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

        }
        function printc() {
            cchart = $("#chartContainer").ejChart("instance");
            cchart.print("chartContainer");
        }
    </script>
</head>
<body>


    <div class="row mt">
        <div class="col-lg-6">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Chart Example 1</h4>
                <div class="panel-body">
                    <div id="hero-graph" class="graph" style="height: 370px; width: 100%;"></div>
                </div>

            </div>


        </div>
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <button type="button" class="activity-panel" id="c" onclick="print()"></button>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <div class="box wide">
        <h4>Advanced Export options</h4>
        <div class="box-col">
            <button class='export-pdf k-button'>Export as PDF</button>
        </div>
        
    </div>
    <script>
        $(".export-pdf").click(function () {
            var chart = $("#chartContainer");
            chart.exportPDF({ paperSize: "auto", margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" } }).done(function (data) {
                kendo.saveAs({
                dataURI: data,
                fileName: "chart.pdf",
                proxyURL: "@Url.Action("Export_Save", "Chart_Api")"
            });
        });
    });


 

 
    </script>

</body>
</html>  