@model WebMap.Models.DataPoint

@{
    ViewBag.Title = "durationtask";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}
<h2>Number of user task</h2>

<!DOCTYPE HTML>
<html>
<head>

    <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("bar", {
        animationEnabled: true,
        exportEnabled: true,
	title: {
		text: "Count of user task"
        },

	subtitles: [{
		text: ""
        }],
        theme: "light",
        primaryHeader: {
            text: "Internet usage statistics"
        },
        exportOptions: {
            image: false,
            print: false
        },

    axisY: {
            title: "Values"
        },

        data: [{
            type: "column",
            name: "ToDo",
            showInLegend:true,
		dataPoints: @Html.Raw(ViewBag.ToDoDPS)
    },
            {
                type: "column",
                name: "Doing",
                showInLegend:true,
        dataPoints: @Html.Raw(ViewBag.DoingDPS)
    },
            {
                type: "column",
                name: "Done",
                showInLegend:true,
		dataPoints: @Html.Raw(ViewBag.DoneDPS)
    }
    ]
});
    chart.render();

        }
       
    </script>
</head>
<body>

    
    <div class="row mt">
        <div style="width:98%;margin-top: 130px;
    margin-left: 20px;">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Bar</h4>
                <div class="panel-body text-center">
                    <div id="bar" style="height: 370px; width: 100%;"></div>
                </div>
            </div>


        </div>
        </div>





        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
       

</body>
</html>    